:root {
    --menu-display: flex;
  }
  
  body {
    margin: 0;
    padding-top: 60px;
  }
  
  #menuCheckBox,
  #menuLabel {
    display: none;
  }
  nav {
    background-color: rgb(249, 225, 9);
    text-align: center; 
    height: 60px;
    display: var(--menu-display);
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-size: 26px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    padding: 2px 10px;
  }
  
  nav a:hover {
    background-color: grey;
  }
  
  #menuLabel {
    cursor: pointer;
  }
  
  @media screen and (max-width: 600px) {
    :root {
      --menu-display: none;
    }
    nav a {
      font-size: 22px;
    }
    nav {
      flex-direction: column;
      height: auto;
      bottom: 40px;
      top: auto;
    }
    body {
      padding-top: 0px;
      padding-bottom: 40px;
    }
    #menuLabel {
      position: fixed;
      bottom: 0;
      display: flex;
      width: 100%;
      background-color: #000;
      color: #fff;
      font-size: 30px;
      height: 40px;
      align-items: center;
      justify-content: center;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
  }
  
  body:has(#menuCheckBox:checked) {
    --menu-display: flex;
  }



  img{
    height:200px;   
    margin-top: 50px;
  }